---
layout: compress
---
<!doctype html>
<html lang="en">
{% include head.html %}
  <body itemscope itemtype="http://schema.org/WebPage">
	  <div class="container">
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include header.html %}
        {{ content }}       
    {% include footer.html %}
    </div>
  </body>
</html>
